Checks: >
    *,
    -llvmlibc-*,
    -fuchsia-*,
    -modernize-use-trailing-return-type,
    -cppcoreguidelines-*,
    -readability-*,
    -google-readability-*,
    -hicpp-*,
    -altera-*,
    -bugprone-narrowing-conversions,
    -bugprone-easily-swappable-parameters,
    -misc-non-private-member-variables-in-classes,
    readability-static-definition-in-anonymous-namespace,