[submodule "thirdparty/LLGL"]
	path = thirdparty/LLGL
	url = https://github.com/LukasBanana/LLGL/
	ignore = dirty
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
	ignore = dirty
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "thirdparty/tracy"]
	path = thirdparty/tracy
	url = https://github.com/wolfpld/tracy.git
