[submodule "thirdparty/LLGL"]
	path = thirdparty/LLGL
	url = https://github.com/LukasBanana/LLGL/
	ignore = dirty
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
	ignore = dirty
[submodule "thirdparty/tracy"]
	path = thirdparty/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
